<section class="section__topfold">
    <span class="main__hours">Mon - Sun : 7:00AM - 8:00PM</span>
    <h1 class="section__tagline">Merle & Highlight</h1>
    <h2 class="section__tagline">Divide your uniqueness by your dog's style</h2>
    <span class="btn__dash">
        <a href="#">Our Services</a>
    </span>
    <div class="section__floatbox">
        <span>Your first visit?</span>
        <span class="span__inline">
        <div class="span__large">-20%</div>
        for the first classic hair coloring</span>
        <span class="btn__dash">
            <a href="#">Book online</a>
        </span>
    </div>
</section>
<section class="section__offerings">
<div>
    <i class="fa-solid fa-paw"></i>
    <h1 class="h1__smallercap">Expert beauticians</h1>
    <p class="p__smaller">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi voluptatem veritatis laudantium!</p>
</div>
<div>
    <i class="fa-solid fa-bone"></i>
    <h1 class="h1__smallercap">Quality Services</h1>
    <p class="p__smaller">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, perferendis illo!</p>
</div>
<div>
    <i class="fa-solid fa-bacon"></i>
    <h1 class="h1__smallercap">Free Kibble</h1>
    <p class="p__smaller">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates a tempora delectus quia ducimus!</p>
</div>
</section>
<section class="section__topinfo">
<div>
<h2>Who's a good dog?</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatibus, inventore voluptatum iusto consequuntur perferendis veniam exercitationem amet ullam itaque totam omnis, alias eveniet vitae voluptatem minima consectetur tempore corporis.</p>
<span class="btn__dash">
    <a href="#">Read more</a>
</span>
</div>
<div class="portrait__wrap">
<img src="assets/dogwash.jpg" alt="Dog getting
washed">
</div>
</section>
<section class="section__portraits">
<div class="portrait__wrap">
<div>
    <img src="assets/portrait1.jpg" alt="Pugsley">
</div>
<span>
    <h3>Pugsley</h3>
    <span>Manager</span>
</span>
</div>
<div class="portrait__wrap">
<div>
    <img src="assets/portrait2.jpg" alt="Doge">
</div>
<span>
    <h3>Doge</h3>
    <span>Stylist</span>
</span>
</div>
<div class="portrait__wrap">
<div>
    <img src="assets/portrait3.jpg" alt="Susan">
</div>
    <span>
        <h3>Susan</h3>
        <span>Beautician</span>
    </span>
</div>
</section>

<section class="section__offer">
<h2>Color day offer!</h2>
<div><span class="span__large">-10%</span><span> on haircut color and highlight</span></div>
<span class="btn__dash">Book appointment</span>
</section>
<section class="section__lookbook">
<h2>Our Lookbook</h2>
<i class="fa-solid fa-minus"></i>
<div class="lb__wrapper">
<div class="lb__col1">
    <div class="lb__short"><img src="assets/lookbook1.jpg" alt=""></div>
    <div class="lb__tall"><img src="assets/lookbook5.jpg" alt=""></div>
</div>
<div class="lb__col2">
    <div class="lb__tall"><img src="assets/lookbook3.jpg" alt=""></div>
    <div class="lb__short"><img src="assets/lookbook4.jpg" alt=""></div>
</div>
<div class="lb__col3">
    <div class="lb__short"><img src="assets/lookbook2.jpg" alt=""></div>
    <div class="lb__tall"><img src="assets/lookbook6.jpg" alt=""></div>
</div>
</div>
</section>